{% extends "./../layout/index.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load website_tags %}
{% block head %}
    <style>
    body {
        height: 100vh;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/auth.css' %}" />
{% endblock head %}
{% block bodyTags %}
    page="login"{% endblock bodyTags %}
    {% block mainTags %}{% endblock mainTags %}
    {% block content %}
        <div class="login-content">
            <form method="post"
                  action="{% redirect_to 'auth/login' next=request.GET.next %}">
                {% crispy form %}
                <a href="{% redirect_to 'auth/register' next=request.GET.next %}">Criar um novo cadastro</a>
            </form>
        </div>
    {% endblock content %}
    {% block scripts %}
    {% endblock scripts %}
