{% extends './index.html' %}
{% block title %}Olá, {{ usuario.nome }}!{% endblock %}
{% block subtitle %}Troca de senha{% endblock %}

{% block container %}

<p>Recentemente, recebemos uma solicitação para redefinir a senha da sua através desse acesso.</p>

{% include './access-info.html' %}

<hr>

<div class="warn">
    <p>Para prosseguir com a redefinição de senha, clique no botão abaixo ou copie e cole o link no seu navegador.</p>

    <a class="btn btn-confirm" href="{ url 'auth/verify-email' uid=confirmacao.uid token=confirmacao.token }">
        Trocar senha
    </a>

    <p class="small">Se você não solicitou a redefinição de sua senha, desconsidere este e-mail. Não haverá alterações
        em sua conta
    </p>
</div>


{% endblock %}