{% extends './index.html' %}
{% block title %}Olá, {{ usuario.nome }}!{% endblock %}
{% block container %}

<p>Indentificamos uma tentativa de redefinição de senha, caso não tenha sido você, por favor, ignore este e-mail.</p>
<div class="center rounded">
    <img src="https://www.countryflags.io/{{ confirmacao.country_code }}/flat/64.png"
        alt="{{ confirmacao.country_name }}">
    <p>Origem: <strong>{{ confirmacao.ip }}</strong></p>
    <p>Navegador: <strong>{{ confirmacao.user_agent }}</strong></p>
</div>

<p>Para prosseguir com a redefinição de senha, clique no botão abaixo.</p>

<a class="btn-confirm" href="{ url 'auth/verify-email' uid=confirmacao.uid token=confirmacao.token }">
    Trocar senha
</a>

{% endblock %}